.gallery img{
    width: 100%;
}

#meun{
    width: 100%;
    height: 40px;
    background-color: skyblue;
    padding-top: 12px;
    
}

#menu a{
      color:#ffffff;
      font-family: Helvetica, sans-serif;
      text-size: 18px;
      font-weight: 800px;
    
      padding-left: 20px;
      padding-right: 20p;
    
}

#menu a:hover{
        color:#5077bd;
}